fastapi==0.110.3
uvicorn[standard]==0.29.0
streamlit==1.35.0

langchain==0.2.1
langchain-groq==0.1.5
langgraph==0.1.1
langsmith==0.1.63

pydantic==2.7.4
pydantic-settings==2.2.1

sentence-transformers==3.0.0
qdrant-client==1.9.1
langchain-qdrant==0.1.0
rank-bm25==0.2.2

pymupdf==1.24.5
pytesseract==0.3.13

sqlalchemy==2.0.30
alembic==1.13.1
psycopg2-binary==2.9.9

python-multipart==0.0.9
firebase-admin==6.5.0

ragas==0.1.9
spacy==3.7.4